RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.recicle.net.br/$1 [R,L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^recicle.net.br [NC,OR]
RewriteCond %{HTTP_HOST} ^www.recicle.net.br [NC]
RewriteRule ^(.*)$ https://www.recicle.net.br/$1 [L,R=301,NC]